<nav class="navbar">
    <div class="container">
        <div class="logo">
            <a routerLink="informacion">
                <img src="logo.png" alt="" height="100px" width="200px">
            </a>
        </div>
        <ul class="nav-links">
            <li><a routerLink="informacion" routerLinkActive="active">INICIO</a></li>
            <li><a routerLink="nosotros" routerLinkActive="active">NOSOTROS</a></li>
            <li><a routerLink="servicios" routerLinkActive="active">SERVICIOS</a></li>
        </ul>
        <div class="contact-button">
            <a routerLink="contacto" href="#">Contáctanos</a>
        </div>
    </div>
</nav>
